<!DOCTYPE html>
<html lang=<%= i18n.lang %>>


<%- include('partials/head')%>

<body>

	<style>
		.parent {
			overflow-x: hidden;
		}

		.child {
			padding: 10px;
			cursor: pointer;
		}
	</style> 


	<%- include('partials/navbar')%>

	<main class="my-3">
        <section class="container bg-white card fs-4 text-start rounded-4 p-5">
            <span class="fs-1 text-center m-5" ><img class="navbar-brand" data-aos="fade-up" src="assets/images/logo.png" width="75%" height="auto" alt="logo"></span>
            <div data-aos="fade-up"><%= i18n.about1 %></div>
            <div class="row g-3 my-4 fs-4">
                <h2 data-aos="fade-up"><%= i18n.abouth2 %></h2>
                <li data-aos="fade-up"><%= i18n.about3 %></li>
                <li data-aos="fade-up"><%= i18n.about4 %></li>
                <li data-aos="fade-up"><%= i18n.about5 %></li>
                <li data-aos="fade-up"><%= i18n.about6 %></li>
                <li data-aos="fade-up"><%= i18n.about7 %></li>

                <h2 data-aos="fade-up"><%= i18n.abouth22 %></h2>
                <li data-aos="fade-up"><%= i18n.about8 %></li>
                <li data-aos="fade-up"><%= i18n.about9 %></li>
                <li data-aos="fade-up"><%= i18n.about10 %></li>
                <li data-aos="fade-up"><%= i18n.about11 %></li>
                <li data-aos="fade-up"><%= i18n.about12 %></li>
                <li data-aos="fade-up"><%= i18n.about13 %></li>
                <li data-aos="fade-up"><%= i18n.about14 %></li>
                <li data-aos="fade-up"><%= i18n.about15 %></li>
                <li data-aos="fade-up"><%= i18n.about16 %></li>
                <li data-aos="fade-up"><%= i18n.about17 %></li>
                <li data-aos="fade-up"><%= i18n.about18 %></li>
                <li data-aos="fade-up"><%= i18n.about19 %></li>
                <li data-aos="fade-up"><%= i18n.about20 %></li>
                <li data-aos="fade-up"><%= i18n.about21 %></li>
                <li data-aos="fade-up"><%= i18n.about22 %></li>
            </div>
        </section>
    </main>
	<%- include('partials/footer')%>

	 


</body>

</html>